<div
    class="app-contact-us__container">
    <div
        class="app-contact-us__title">
        Contact us
    </div>
    <div
        class="app-contact-us__contact-details-container">
        <li>
            Mobile: 0211879161
        </li>
        <li>
            Email: basnayake1.xtra@yahoo.com 
        </li>
        <li>
            <a
                href="https://www.instagram.com/sweettreats_akl/">
            Instagram
            </a>
        </li>
        <li>
            <a
                href="https://www.facebook.com/sweettreatsnzl ">
                Facebook:
            </a>
        </li>
    </div>
</div>