.app-contact-us__container {
    text-align: center;
}
.app-contact-us__title {
    font-size: 24px;
    font-weight: 800;
}
.app-contact-us__contact-details-container {
    padding-top: 15px;
    padding-bottom: 250px;
}