
<div
    class="app-brownies-and-blondes__container">
    <h2>
        Brownies and blondies
    </h2>
    <li>
        The difference between brownies & blondies is that brownies have that exquisite dark brown shade that emerge from their miracle product chocolate and have a fudgy, gooey texture while blondies are vanilla based and have a butterscotch caramel aroma which usually comes from brown sugar and indeed lighter in colour, with a dense, chewy texture.
        Comes in 9x9 slabs - $40    
    </li>
</div>