<div
    class="app-header__title">
    Sweet Treats
   
</div>
<div
class="app-header__introduction-text-container">
<div>
Beautiful home made cakes for any occasion.
</div>
<div>
Come taste the difference; we love cakes and so will you
</div>
</div>
<div
    class="app-header__container">
    <a
        class="app-header__link"
        href="/our-products">
        Our products
    </a>
    <a
        class="app-header__link"
        href="/gallery">
        Gallery
    </a>
    <a
        class="app-header__link"
        href="/contact">
        Contact
    </a>
    <a
        class="app-header__link"
        href="/about-us">
        Our story
    </a>
</div>