
.app-favourite-cakes__container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.app-favourite-cakes__cakes-with-image-container {
    display: flex;
    flex-wrap: wrap;
}

.app-favourite-cakes__cake {
    display: grid;
    padding-right: 5px;
}
.app-favourite-cakes__cake-image {
    height: 250px;
    width: 250px;
}

.app-favourite-cakes__cake-image-text {
    text-align: center;
}