.app-menu__menu-item-image {
    width: 100%;
    height: 100%;
}

.app-menu__menu-title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 25px;
}
.app-menu__menu-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-row-gap: 25px;
}

.app-menu__menu-item {
    display: flex;  
    width: 30%;
    min-width: 250px;
    min-height: 250px;
}

.app-menu__menu-item-info {
    display: grid;
    grid-row-gap: 5px;
    text-align: center;
    padding-top: 40%;
    padding-bottom: 40%;
}

.app-menu__info-image-container { 
    width: 100%;
}